* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #445599;
}

::-webkit-scrollbar-thumb:hover {
    transform: scale(102%);
    background: #556699;
}
